    #main {
      text-align: center;
      /*background: url("https://thumbs.dreamstime.com/t/blue-blossom-olive-green-background-16712406.jpg"); 
      background-size: 100%;*/
      
    } 
    .nav {
      color: #1a3300;
    }
    h1 {
      font-size: 70px;
      font-family: georgia;
      color:#660000;
    }
   
    p{
      text-align: center;
    }
    h2{
      text-align: center;
      
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      color: blue;
    }
    ul {
      padding: 10px;
      font-family: georgia;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      /*h1 {
        font-size: 36px;
        padding: 5px;
        color: #266b73;
      }*/
      li {
        padding: 5px;
        display: block;
      }
    }
