  
    ul{
      color: #66000;
    }
   #smiley {
      text-align: center;
      /*font-family: h1 {*/
	    font-family:  "Calibri";
      color: black;
      background-image:url("images/pages/TREEZZZ.png");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 25px;
      }
      
    
    
 /*body{
    background-image: url("images/pages/tree.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    }*/
    p{
      color: black;
      text-align: center;
    }
    h2{
      text-align: center;
      
    }
    /*img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      color: blue;
    }*/
    ul {
      padding: 10px;
      font-family: georgia;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      /*h1 {
        font-size: 36px;
        padding: 5px;
        color: #266b73;
      }*/
      li {
        padding: 5px;
        display: block;
      }
    }
