    header {
      text-align: center;
      background: url("http://wallpapercave.com/wp/NDNyy9Q.jpg"); 
      background-size {
          length: 1000px;
          width:1000px;
      } ;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-family: georgia;
      color: red;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgb(170, 0, 0);
      font-family: georgia;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
